@media screen and (max-width:700px){
    header .container{
    display: flex;
    flex-direction: column;
    }

    .descricao {
        height: auto;
        width: auto;
    }

    .botao{
        margin-top: 2px;
        padding: 15px;
        width: 300px;
    }
    .carrosel-filmes{
        margin-top: 60px;
    }

    .icone-seta {
        position: absolute;
        color: transparent;
        background: transparent;
        box-shadow: none;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }

    .carrosel-filmes{
        margin-top: 50px;
    }
}